@using System.Reflection
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tavern Tools</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="_content/TavernTools.UI/css/MainLayout.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="_content/TavernTools.UI/favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Router AppAssembly="@typeof(MainApp).Assembly"
        AdditionalAssemblies="@AdditionalAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</body>

</html>


@code {
    private Assembly[] AdditionalAssemblies => RazorDependencies.UiDependencies;
}